name: Update

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

defaults:
  run:
    shell: bash

jobs:
  update:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Prevent auto line ending conversion
        run: git config --global core.autocrlf false

      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Run extraction
        working-directory: "./extract"
        run: |
          bundle install
          rake

      - name: Commit changes
        working-directory: ${{ github.workspace }}
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "actions@github.com"

          git add .
          git commit -m "feat: 内容を更新" || echo "No changes to commit"
          git push origin main || echo "No changes to push"
